body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222

}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first.jpg) no-repeat center top / cover;
	height: 100vh;
}

.container {
	width: 950px;
	margin: 0 auto;
}

.logo {
	margin-top: 55px;
	float: left;

}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

}

.titles_first {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 415px;
}

h1 {
	font-size: 70px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}


.title {
	padding-top: 80px;
}

.title h2 {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	font-weight: bold;
}

.title h3 {
	font-size: 19px;
	text-align: center;

}

.title p {
	font-size: 13px;
	text-align: center;
	margin: 0;
	margin-top: 5px;
	color: #777777;
}

.services {
	margin-top: 50px;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	font-size: 14px;
	color: #777777
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}


.services__item:nth-child(2) {
	margin-left: 68px;
}

#services {
	padding-bottom: 120px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.about{
 padding-top: 80px;
}

.about-elem{
 position: relative;
 display:block;
 text-align: center;
 margin-bottom: 80px;
}

.about-elem .image{
 display: inline-block;
 overflow: hidden;
 border-radius: 50%
 width: 200px;
 height: 200px;
}

.about-elem .image img{
 display: inline-block;
 vertical-align: top;
}

.about-elem .content{
 position: absolute;
 top: -15px;
}

.about-elem .text_rght{
 text-align: right;
}

.about-elem .text_lft{
 text-align: left;
}

.about-elem .content span{
 text-transform: none;
}

.about-elem .content p{
 color: #777777;
 line-height:  1.55em;
}

.about-elem:nth-child(odd) .content{
 right: 50.5%;
 margin-right: 130px;
}

.about-elem:nth-child(even) .content{
 left: 50%;
 margin-left: 130px;
}

.about-elem .content .titless{
 font-weight: 700;
 text-align: right;
 width: 450px;
}

.about-elem .content .titless-lft{
 text-align: left;
 width: 450px;
}

#copyright p{
 color: #777777;
 text-align: center;
 margin: 85px 0;
}﻿

