body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222

}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first.jpg) no-repeat center top / cover;
	height: 100vh;
}

.container {
	width: 948px;
	margin: 0 auto;
}

.logo {
	margin-top: 55px;
	float: left;

}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

}

.titles_first {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding-top: 425px;
}

h1 {
	font-size: 70px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}


.title {
	padding-top: 80px;
	padding-bottom: 60px;
}

.title h2 {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	font-weight: bold;
}

.title h3 {
	font-size: 19px;
	text-align: center;

}

.title p {
	font-size: 13px;
	text-align: center;
	margin: 0;
	margin-top: 5px;
	color: #777777;
}

.services {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.services__item {
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}


.services__item h4 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 500;
}

.services__item p {
	font-size: 14px;
	color: #777777
	line-height: 1.55em;
	margin-top: 10px;
}

#services {
	padding-bottom: 100px;
}

#portfolio {
	background: #f7f7f7;

}


#copyright {

 color: #fff;
 font-weight: 400;
 margin: 0;
 background: url(../img/footer.jpg) no-repeat center top / cover;
 height: 200px;
}

#copyright p {
	min-width: 210px;
	margin: 0;
}

.last {
	padding-top: 60px;

}

.block1 {
	width: 950px;
	height: 200px;
	margin: auto;
}

.block-element1 {
	text-align: center;
}

.flex-container1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
	align-items: center;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 3%;
}

/* Add a hover effect if you want */
.fa:hover {
	box-shadow: inset 0 0 0 3px #f7f7f7;
	opacity: 0.7;
	background: rgba(0,0,0,0);
	color: #f7f7f7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	box-shadow: inset 0 0 0 3px #f7f7f7;
	background: rgba(0,0,0,0);
	color: #f7f7f7;
}

.block {
	background: #f7f7f7;
	width: 948px;
	height: 1400px;
	margin:  auto;
	padding: 20px;

}

.block__element {
	background: #f7f7f7;
	width: 63.3%;
	height: 260px;
	position: relative;
	margin: 6px;
}


.text_rght{
 	text-align: right;
}

.titless {
	text-align: right;
}

.about-elem{
 position: relative;
 display:block;
 text-align: right;
 margin-bottom: 80px;
}

.about-elem2{
 position:;
 display:block;
 text-align: left;
 margin-bottom: 80px;
}

.about-elem .content{
 position: absolute;
 top: -15px;
}

.about-elem .text_rght{
 text-align: right;
}

.about-elem .text_lft{
 text-align: left;
}

.about-elem .content span{
 text-transform: none;
}

.about-elem .content p{
 color: #777777;
 font-size: 14px;
 line-height:  1.55em;
}

.about-elem:nth-child(odd) .content{
 right: 40.5%;
    margin-right: 15px;
}

.about-elem:nth-child(even) .content{
 left: 50%;
 margin-left: 130px;
}

.about-elem .content .titless{
 font-weight: 700;
 text-align: right;

}

.about-elem .content .titless-lft{
 text-align: left;
}

.about-elem2 .content{
 position: absolute;
 top: -15px;
}

.about-elem2 .text_rght{
 text-align: right;
}

.about-elem2 .text_lft{
 text-align: left;
}

.about-elem2 .content span{
 text-transform: none;
}

.about-elem2 .content p{
 color: #777777;
 font-size: 14px;
 line-height:  1.55em;
}

.about-elem2:nth-child(odd) .content{
 left: 40.5%;
    margin-left: 15px;
}

.about-elem2:nth-child(even) .content{
 left: 50%;
 margin-left: 130px;
}

.about-elem2 .content .titless{
 font-weight: 700;
 text-align: right;

}

.about-elem2 .content .titless-lft{
 text-align: left;
}




/*  Flexbox CSS Styling  */

.flex-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}

.flex-element {
	order: 0;
	flex-grow: 0;
	flex-basis: auto;
	align-self: auto;
}

























@media screen and (max-width: 1000px) {
	.container {
		width: 85%;
		max-width: auto;
	}

	.block {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}

		.block1 {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
	}

	.block__element {
	background: #f7f7f7;
	width: 100%;
	}

	.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	}

	.flex-element {
	order: 0;
	flex-grow: 0;
	flex-basis: auto;
	align-self: auto;
	}
			#portfolio {
		padding-bottom: 40px;
		background: #f7f7f7;
		}
}

@media screen and (max-width: 880px) {
	.container {
		width: 85%;
		max-width: auto;
	}

	.titles_first {
		font-size: 12px;
		padding-top: 400px;
	}

	.titles h1 {
		font-size: 40px;
	}

	.block1 {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}

		.services {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}
		.flex-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		}


		.flex-element {
		order: 0;
		flex-grow: 0;
		flex-basis: auto;
		align-self: auto;
		}

}

@media screen and (max-width: 580px) {
	.container {
		width: 85%;
		max-width: auto;
	}

	.titles_first {
		font-size: 12px;
		padding-top: 400px;
	}

	.titles h1 {
		font-size: 40px;
	}

		.block1 {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}

		.services {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}
		.flex-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		}


		.flex-element {
		order: 0;
		flex-grow: 0;
		flex-basis: auto;
		align-self: auto;
		}

		.block__element {
		height: 450px;
		}
		
		#portfolio {
		padding-bottom: 800px;
		background: #f7f7f7;
		}
		
		.about-elem:nth-child(odd) .content {
    right: 40.5%;
    margin-right: 65px;
    width:180px;
		}

		.about-elem2:nth-child(odd) .content {
    right: 40.5%;
    margin-left: 65px;
    width:180px;
		}
		.image {
			transform: scale(0.9, 0.9);
-ms-transform: scale(0.9, 0.9);
-webkit-transform: scale(0.9, 0.9);
		}
}
@media screen and (max-width: 435px) {

		header {
			background: url(../img/firstm.jpg) no-repeat center top / cover;
		}

	.container {
		width: 85%;
		max-width: auto;
	}

	.titles_first {
		font-size: 12px;
		padding-top: 240px;
		padding-bottom: 10px;
	}

	.titles h1 {
		font-size: 38px;
	}

	.block1 {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}
	
	.block__element {
		height: 600px;
		}

		.services {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}

	.about-elem2 .content{
	 position: static;
	 text-align: center;
	}

	.about-elem .content .titless {
    font-weight: 700;
    text-align: center;
	}

	.about-elem .text_rght {
    text-align: justify;
	}
	.about-elem2 .content .titless-lft {
	    text-align: center;
	}

	.about-elem2 .text_lft {
    	text-align: justify;
	}
	.about-elem {
		text-align: center;
	}

	.about-elem2 {
		text-align: center;
	}

	.about-elem .content{
	 position: static;
	 text-align: center;
	}
	.about-elem:nth-child(odd) .content {
		margin: auto;
	}

	.about-elem2:nth-child(odd) .content {
		margin: auto;
	}
	#portfolio {
		padding-bottom: 1390px;
		background: #f7f7f7;
	}
		#services {
    	padding-bottom: 80px;
		}
	}

@media screen and (max-width: 350px) {
		header {
			background: url(../img/firstm.jpg) no-repeat center top / cover;
		}


	.container {
		width: 85%;
		max-width: auto;
	}

	.title {
    	padding-top: 80px;
    	padding-bottom: 40px;
	}

.titles_first {
    font-size: 12px;
    padding-top: 180px;
    padding-bottom: 10px;
}

	.titles h1 {
		font-size: 30px;
	}

	.block1 {
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}
	
		.services {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		align-items: center;
	}

		.flex-container {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: center;
		}

		.flex-element {
		order: 0;
		flex-grow: 0;
		flex-basis: auto;
		align-self: auto;
		}
		#portfolio {
		padding-bottom: 1430px;
		background: #f7f7f7;
		}
		#services {
    	padding-bottom: 80px;
		}
	}
}